<div id="enli-header">
  <div id="BackgroundEnli">
      <p id="EnliLogo"></p>
    </div>
  <div id="SekciaContainer" style="pointer-events: auto;">
    <a id="B29" href="" class="Button btn btn-default" ng-click="activateMenu(1); Podorys();" ><br>PÔDORYS</a>
    <a id="B28" href="" class="Button btn btn-default" ng-click="activateMenu(2); DW();" ><br>OKNÁ A DVERE</a>
    <a id="B30" href="" class="Button btn btn-default" ng-click="activateMenu(3); Interier();"><br>INTERIÉR</a>
    <a id="B30" href="" class="Button btn btn-default" ng-click="activateMenu(4); Interier();"><br>FPS</a>
  </div>
  <div id="ProjektMenuContainer" style ="pointer-events: auto;">
    <a id="B24" class="Button btn btn-default" ng-click = "NovyProjekt()"></a>
    <a id="B25" class="Button btn btn-default" ng-click = "OtvoritProjekt();SetLoad();"></a>
    <a id="B26" class="Button btn btn-default" ng-click = "SetSave();"></a>
    <a id="B27" class="Button btn btn-default" ng-click = "Nastavenia(); SetSettings();"></a>

    <div id="Settings" >
  <p>
  Kvalita grafiky
  </p>
  <form >
    <input type="radio" name="Kvalita" value="Nizka" ng-click = "Kvalita(0)"> Nízka<br>
    <input type="radio" name="Kvalita" value="Stredna" ng-click = "Kvalita(1)"> Stredná<br>
    <input type="radio" name="Kvalita" value="Vysoka" checked="checked" ng-click = "Kvalita(2)"> Vysoká<br>
  </form>
  <p><br>Vyhladzovanie hrán</p>
      <form >
        <input type="radio" name="Hrany" value="Vypnute" ng-click = "HranySet(0)"> Vypnuté<br>
        <input type="radio" name="Hrany" value="2x" ng-click = "HranySet(2)"> 2X<br>
        <input type="radio" name="Hrany" value="3x" checked="checked" ng-click = "HranySet(1)"> 4X<br>
      </form>
        <p><br>Rozmery</p>
      <input id = "RozmeryZapnute"type="radio" name="Rozmery" value="Zapnuté" checked="checked" ng-click = "RozmerySet(1)"> Zapnuté<br>
      <input id = "RozmeryVypnute"type="radio" name="Rozmery" value="Vypnuté" ng-click = "RozmerySet(0)"> Vypnuté<br>
    </div>
  </div>

  <div id="ButtonContainer2">
    <a id="B10" class="Button btn-my" ng-click = "Undo()"></a>
    <a id="B11" class="Button btn-my" ng-click = "Redo()"></a>
    <input type="radio"  id="view_1" class="hidden" />
    <a id="B12" class="Button btn-my2 radio-view" ng-click = "D2D(); set_view('view_1')"></a>

    <input type="radio"  id="view_2" class="hidden" />
    <a id="B13" class="Button btn-my radio-view" ng-click = "D3D(); set_view('view_2')"></a>

    <a id="B14" class="Button btn-my" ng-click = "Center()"></a>
    <a id="B15" class="Button btn-my" ng-click = "FPS()"></a>
  </div>  
  
  <div id="SaveProject" style="pointer-events: auto;">Uložiť ako<br>
    <input  type="text" value="MySave1" name="usrname" style="pointer-events: auto"> 
    <button class="btn btn-default" ng-click = "UlozitProjekt();">Ulozit</button>
  </div>

  <div id="LoadProject" style="pointer-events: auto;"><br>
    <div ng-repeat = "Loads in LoadSave.savePlace.parts" class = "btn-group" >
      <a class = "btn btn-default" ng-click="OtvoritProjekt(Loads.data);">{{Loads.name}}</a>
    </div>
  </div>
</div>